<!--<div
  style="
    height: 100%;
    background: linear-gradient(to top, #f9ad83, #ee957b, #e38073);
  "
></div>--><!--<div
  style="
    height: 100%;
    background: linear-gradient(to top, #f9ad83, #ee957b, #e38073);
  "
></div>-->
<img src="assets/background/TheBackground2.jpg" />

aaa bbb ccc ddd
<div
  style="
    height: 100%;
    background: linear-gradient(to bottom, #384db2, #0f81b1, #3da0c0);
  "
>
  <!--  <div
    style="
      height: 150px;
      background-image: url('assets/background/FondATester.jpg');
      background-size: cover;
      background-position: center;
    "
  ></div>-->

  <div class="swiper" style="padding: 16px">
    <div class="swiper-wrapper" style="align-items: center">
      <div
        class="swiper-slide"
        (click)="onClickMonth(month.id)"
        *ngFor="let month of months; let i = index"
      >
        <div style="display: flex; flex-direction: column; align-items: center">
          <div
            style="
              font-family: RotundaLight, serif;
              font-size: 30px;
              margin-top: 20px;
            "
          >
            {{ month.name }}
          </div>

          <div style="display: flex; flex-direction: row">
            <div style="height: 60px; width: 60px; margin-top: 70px">
              <img src="assets/months/check-mark.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div (click)="swiper.slideNext()" class="swiper-button-next"></div>
    <div (click)="swiper.slidePrev()" class="swiper-button-prev"></div>
  </div>

  <!--  <div style="height: 50vh">
    <ng-lottie [options]="lottieConfig"></ng-lottie>
  </div>-->
</div>
