<!--<div
  style="
    height: 100%;
    background: linear-gradient(to top, #f9ad83, #ee957b, #e38073);
  "
></div>-->
<div
  style="
    background: linear-gradient(to bottom, #384db2, #0f81b1, #3da0c0);
    height: 100%;
  "
>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Janvier</div>
      <div class="swiper-slide">Février</div>
      <div class="swiper-slide">Mars</div>
      <div class="swiper-slide">Avril</div>
      <div class="swiper-slide">Mai</div>
      <div class="swiper-slide">Juin</div>
      <div class="swiper-slide">Juillet</div>
      <div class="swiper-slide">Août</div>
      <div class="swiper-slide">Septembre</div>
      <div class="swiper-slide">Octobre</div>
      <div class="swiper-slide">Novembre</div>
      <div class="swiper-slide">Décembre</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div (click)="swiper.slideNext()" class="swiper-button-next"></div>
    <div (click)="swiper.slidePrev()" class="swiper-button-prev"></div>
  </div>
</div>
