<div class="myBodyBody">
  <nav class="tab" data-selected="2">
    <div class="icons">
      <img src="assets/navbar-icons/arabe.png" data-index="1" class="icon" />
      <img src="assets/navbar-icons/woman.png" data-index="2" class="icon" />
      <img
        src="assets/navbar-icons/palm-islands.png"
        data-index="3"
        class="icon"
      />
    </div>
    <div class="bar">
      <div class="cap"></div>
      <div class="middle">
        <div class="side"></div>
        <div class="circle"></div>
        <div class="side"></div>
      </div>
      <div class="cap"></div>
    </div>
  </nav>
</div>
