<!--<div
  style="
    height: 100%;
    background: linear-gradient(to top, #f9ad83, #ee957b, #e38073);
  "
></div>-->
<div
  style="
    height: 100%;
    background: linear-gradient(to top, #3e70b2, #7c8bde, #3f66c4);
  "
>
  <div class="circle-header"></div>
  <div style="position: absolute; height: 50px; background-color: white">
    JE SUIS LAAA
  </div>
  <div>Bonjour Utilisateur 1</div>
  <div>Gérer mes cotisations</div>
  <div>Montrez ce QR Code aux responsables,</div>
  <div>Ils vous mettront à jour sur vos cotisations</div>
</div>
<app-nav-bar-dynamic></app-nav-bar-dynamic>
