@import url("http://fonts.googleapis.com");

.circle-header {
  height: 50%;
  background-image: url("../../../assets/icon/mosquee3.jpg");
  background-size: cover;
  border-radius: 50%;
  left: -5%;
  width: 110%;
  position: absolute;
  top: -25%;
  background-position-y: 187px;
  background-position-x: -173px;
}
