.circle-header {
  height: 50%;
  background-image: url("../../../assets/arabic/arabicCityy.jpg");
  background-size: cover;
  border-radius: 50%;
  left: -5%;
  width: 110%;
  position: absolute;
  top: -20%;
  box-shadow: 0 0 20px black;
}
