<!--<div
  style="
    height: 100%;
    background: linear-gradient(to top, #f9ad83, #ee957b, #e38073);
  "
></div>-->
<div
  style="
    height: 100%;
    background: linear-gradient(to bottom, #384db2, #0f81b1, #3da0c0);
    background-size: cover;
  "
>
  <div
    style="
      position: relative;

      /*background-color: #fffbe2;*/
      background-image: url('assets/background/857411_187.jpg');
      background-size: cover;
      height: 140px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      padding-top: 18px;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      "
    >
      <!--      <div style="font-family: RotundaLight, serif">Bienvenue,</div>
      <div style="font-family: RotundaLight, serif">Houdheyfa</div>-->
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      font-family: RotundaLight, serif;
      font-size: 20px;
      margin-top: 50px;
    "
  >
    <div><mark>Vous souhaitez voter?</mark></div>
    <div>Faites scanner ce QR Code</div>
    <div>par un responsable</div>
    <div style="margin-top: 30px">
      <img
        style="height: 250px; width: 250px; border: 5px solid #7de9dd"
        src="assets/qrcode.png"
      />
    </div>
  </div>

  <!--  <div style="height: 50vh">
    <ng-lottie [options]="lottieConfig"></ng-lottie>
  </div>-->
</div>
