.container {
  background-image: url("../../../assets/background/mosaiqueBleu.jpg");
  background-size: cover;
  width: 90%;
  height: 75px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 20px;
  border-radius: 25px;
}
.icon-1 {
  transition-duration: 0.7s;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  left: 15%;
  top: 10%;
  transform: translate(-50%, -50%);
}
.icon-2 {
  background: transparent;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  left: 32.5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-3 {
  background: transparent;

  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-4 {
  background: transparent;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  left: 67.5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-5 {
  background: transparent;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img {
  font-size: 18px;
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.activated {
  background-image: url("../../../assets/background/mosaiqueBleu.jpg");
  background-size: 260px;
  position: absolute;
  left: 15%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
