<div>
  <div id="container" class="container">
    <div id="activated" class="activated"></div>
    <div class="all-icons">
      <div id="icon-1" class="icon-1" (click)="clickCotisations()">
        <img class="img" src="assets/navbar-icons/donation.png" />
      </div>

      <div id="icon-2"></div>

      <div id="icon-3" class="icon-3" (click)="clickScanner()">
        <img class="img" src="assets/navbar-icons/barcode-scanner2.png" />
      </div>

      <div id="icon-4"></div>

      <div id="icon-5" class="icon-5" (click)="clickProfile()">
        <img class="img" src="assets/navbar-icons/islamic.png" />
      </div>
    </div>
  </div>
</div>
