<div>
  <div id="container" class="container">
    <div id="activated" class="activated"></div>
    <div class="all-icons">
      <div id="icon-1" class="icon-1" (click)="funcHouse()">
        <img class="img" src="assets/navbar-icons/mat.png" />
      </div>

      <div id="icon-2"></div>

      <div id="icon-3" class="icon-3" (click)="funcMail()">
        <img class="img" src="assets/navbar-icons/scanner.png" />
      </div>

      <div id="icon-4"></div>

      <div id="icon-5" class="icon-5" (click)="funcBell()">
        <img class="img" src="assets/icon/roue-dentee.png" />
      </div>
    </div>
  </div>
</div>
