<div style="background-color: #576cd6; height: 100%">
  <div class="circle-header"></div>

  <div class="title-text" style="margin-top: 300px">Bienvenue</div>
  <div style="text-align: center">
    <img src="assets/icon/LogoAcmal.png" />
  </div>
  <div
    style="
      font-family: arabetics, serif;
      color: white;
      font-size: 30px;
      text-align: center;
    "
  >
    Connectez-vous à votre compte ACMAL
  </div>
  <div style="text-align: center">
    <input
      class="input-design"
      placeholder="Nom d'utilisateur"
      style="margin-top: 10px"
    />
  </div>

  <div style="text-align: center">
    <input
      class="input-design"
      placeholder="Mot de passe"
      style="margin-top: 30px"
    />
  </div>

  <div class="button-design" style="margin-top: 100px">Se connecter</div>
</div>
