<div
  style="
    background: linear-gradient(to bottom, #384db2, #0f81b1, #3da0c0);
    height: 100%;
  "
>
  <div class="circle-header"></div>

  <div class="title-text" style="margin-top: 300px">
    <img width="300px" height="200px" src="assets/icon/logoMasjid.png" />
  </div>

  <form [formGroup]="form">
    <div id="sign-in-button"></div>
    <div style="display: flex; justify-content: center">
      <input
        formControlName="phone"
        id="userPhone"
        type="number"
        class="input-design"
        placeholder="Numéro de téléphone"
        style="margin-top: 10px"
      />
    </div>
    <div style="display: flex; justify-content: center">
      <div (click)="signIn()" class="button-design" style="margin-top: 35px">
        Se connecter
      </div>
    </div>
  </form>
  <div
    style="
      font-family: RotundaLight, serif;
      font-size: 15px;
      text-align: center;
      margin-top: 15px;
      color: white;
    "
  >
    Utiliser un email?
    <span style="text-decoration: underline">J'ai un email !</span>
  </div>
</div>
