<div style="background-color: #576cd6; height: 100%">
  <div
    style="
      height: 50%;
      background-image: url('assets/arabic/arabicCity.jpg');
      background-size: cover;
      border-radius: 50%;
      left: -5%;
      width: 110%;
      position: absolute;
      top: -20%;
      box-shadow: 0 0 20px black;
    "
  ></div>
  <div
    style="
      font-family: arabetics, serif;
      color: white;
      margin-top: 350px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
    "
  >
    Assalamû Aleykoum
  </div>
</div>
