<div style="display: flex; justify-content: center">
  <div class="menu-inner">
    <a class="menu-item active">
      <ion-icon name="airplane-outline" (click)="navigate('/home')"></ion-icon>
    </a>
    <a class="menu-item" (click)="navigate('/quiz')">
      <ion-icon name="airplane-outline"></ion-icon>
    </a>
    <a class="menu-item" (click)="navigate('/lobby')">
      <ion-icon name="airplane-outline"></ion-icon>
    </a>
    <a class="menu-item">
      <ion-icon name="airplane-outline"></ion-icon>
    </a>
  </div>
</div>
